body {
    font-family: Montserrat, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff37a;
    color: black;
}

body {
  position: relative;
  margin: 0;
}

.logo {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
header {
    background-color: #fff37a;
    color: black;
    text-align: center;
    padding: 2rem;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    background-color: #fff37a;
    color: #000000;
}
